{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <section class="jumbotron shadow-lg text-center p-5 m-5">
        <form class="form-signin" method="post">

            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <label for="inputEmail" class="sr-only">Adresse Email</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Adresse Email" required
                   autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Mot de passe"
                   required>
            <div class="form-group m-4">
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="submitLogin">Se connecter</button>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

        </form>
    </section>
{% endblock %}
