<!-- Modal -->
<div class="modal fade modal-success" id="myModal{{ task.id }}" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="lineModalLabel">
                    {{ task.title }}
                    {% if task.isDone %}
                        <div class="badge bg-success ml-2">
                            Done
                        </div>
                    {% elseif task.inProgress %}
                        <div class="badge bg-warning ml-2">
                            In progress
                        </div>
                        <small>

                    {% else %}
                        <div class="badge bg-danger ml-2">
                            Todo
                        </div>
                    {% endif %}
                            <div class="widget-assigned">
                                <b>assigné à</b>  {% if task.assignedto %}{{ task.assignedto }} {% else %} <i>personne</i> {% endif %}
                            </div>
                </h3>
            </div>
            <div class="modal-body">

                <!-- content goes here -->
                <form>
                    <div class="form-group">
                        <label for="username"><b>Créé par</b> {{ task.user }}</label>
                    </div>
                    <div class="form-group">
                        {{ task.content }}

                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" disabled {% if task.isDone %} checked {% endif %}> Is Done
                        </label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Fermer</button>
                    </div>
                    <div class="btn-group btn-delete hidden" role="group">
                        <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Editer</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>