<div style="position: static;" class="ps ps--active-y">
    <div class="ps-content">
        <ul class=" list-group list-group-flush">
            {% for task in tasks %}
                <li class="list-group-item">
                    {% if task.isDone %}
                        <div class="todo-indicator bg-success"></div>
                    {% elseif task.inProgress %}
                        <div class="todo-indicator bg-warning"></div>
                    {% else %}
                        <div class="todo-indicator bg-danger"></div>
                    {% endif %}
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-2">
                                <div>
                                    {% if task.isDone %}
                                        <i class="fa fa-check-circle checkIcon"></i>
                                    {% elseif task.inProgress %}
                                        <i class="fas fa-spinner progressIcon"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle crossIcon"></i>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-heading"><a
                                            href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                                    <div class="badge badge-danger ml-2">Rejected</div>
                                </div>
                                <div class="widget-subheading"><i>de {{ task.user }}</i></div>
                            </div>
                            <div class="widget-content-right">
                                {% if not task.assignedTo and not task.isDone %}
                                    <button class="border-0 btn-transition btn btn-outline-warning"
                                            data-toggle="tooltip" title="Assigner" id="assign" data-id="{{ task.id }}">
                                        <i class="fas fa-people-arrows"></i>
                                    </button>
                                {% endif %}
                                {% if task.inProgress %}
                                <a href="{{ path('task_toggle', {'id' : task.id }) }}">
                                    <button class="border-0 btn-transition btn btn-outline-success"
                                            data-toggle="tooltip" title="Cloturer">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </a>
                                {% endif %}
                                {% if task.isDone %}
                                <a href="{{ path('task_toggle', {'id' : task.id }) }}">
                                    <button class="border-0 btn-transition btn btn-outline-danger"
                                            data-toggle="tooltip" title="Réouvrir">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </a>
                                {% endif %}
                                <a href="{{ path('task_delete', {'id' : task.id }) }}">
                                    <button class="border-0 btn-transition btn btn-outline-danger" data-toggle="tooltip"
                                            title="Supprimer">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

