{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section class="jumbotron shadow-lg p-3 m-5">
            {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            {{ form_row(form.title) }}
            {{ form_row(form.content) }}
            {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.assignedTo) }}
            {% endif %}

            <p>Auteur : {{ task.user }}</p>


            <button type="submit" class="btn btn-success pull-right m-2">Modifier</button>
        </section>

        <div id="divCheckbox" style="display: none;">
            {{ form_rest(form) }}
        </div>


    </div>
{% endblock %}
